#cards {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;

    justify-content: center;
    align-items: center;
}

.card {
    width: 200px;
    height: 200px;

    background: #2cb5a0;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #7cdacc;
    box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}