:root {
    --bg: #2196F3;

    --topnav-color: #333;
    --topnav-text: #f2f2f2;

    --topnav-active-bg: #0004ff;
    --topnav-active-text: white;

    --topnav-hover-bg: #ddd;
    --topnav-hover-text: black;
}