/* Grid */
#grid {
	position: fixed;
	width: min(100vw, 100vh);
	height: min(100vw, 100vh);

	pointer-events: none;
	opacity: 0.3;
	mask-image: linear-gradient(to bottom right, black, transparent 50%);
	mask-mode: alpha;
}

.shimmer {
	font-weight: 500;
	background: linear-gradient(90deg,
			var(--accent) 0%,
			var(--text) 50%,
			var(--accent) 100%);
	background-size: 200% 100%;

	background-clip: text;
	-webkit-background-clip: text;

	color: transparent;
	-webkit-text-fill-color: transparent;

	animation: shimmer 2.5s infinite linear;
}

span {
	font-size: 3em;
}

p {
	opacity: 40%;
}

@keyframes shimmer {
	from {
		background-position: 200% 0;
	}

	to {
		background-position: -200% 0;
	}
}